annoy==1.16.3
click==8.0.4
dataclasses
dicttoxml==1.7.16
Flask==2.0.3
Flask-CacheControl==0.3.0
flask-htpasswd==0.5.0
gunicorn==20.1.0
ICONCLASS==0.10
matplotlib==3.3.4
numpy==1.19.5
opencv-contrib-python==4.6.0.66
pandas==1.1.5
Pillow==8.4.0
scikit-learn==0.24.2
scipy==1.5.4
timm==0.6.7
torch==1.10.1
torchvision==0.11.2
tqdm==4.64.1
urlmatch==1.0.1
Werkzeug==2.0.3
requests
xlsxwriter
