flask
flask-htpasswd
flask-cachecontrol
click
pandas
pillow
gunicorn
torch==1.6.0
torchvision==0.7.0
matplotlib

# required due to slow inception load
scipy   #==1.3.3
sklearn

tqdm
annoy

umap-learn

opencv-contrib-python
VST