numpy
pandas
matplotlib
scikit-learn
opencv-contrib-python
tqdm
click

Flask
Flask-CacheControl
flask-htpasswd
gunicorn

annoy

iconclass==0.10

multilingual-clip
clip @ git+https://github.com/openai/CLIP.git
open_clip_torch

msclip @ git+https://github.com/labusch/MSCLIP.git

xlsxwriter