footer {
    background-color: black;
    color: white;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

footer a {
    color: white;
    text-decoration: none;
}