header {
    background-color: black;
    color: white;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

nav {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

nav a {
    color: white;
    text-decoration: none;
}