.logo-MMK-image {
    height: 62px;
    position: relative;
    width: 176px;
}

.logo-MMK-image .MMK-image-search {
    color: #ffffff;
    font-family: "Noto Sans-Black", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 176px;
}

.logo-MMK-image .text-wrapper {
    font-weight: 900;
}

.logo-MMK-image .span {
    font-family: "Noto Sans-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
}

.logo-MMK-image:hover .MMK-image-search {
    color: var(--stabi-yellow-accent);
}