.search-tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.label-container {
    display: flex;
    margin-bottom: 10px;
}

.tab-label {
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    background-color: #eee;
}

.tab-label.active {
    background-color: #2F3E6A;
    color: #fff;
}

.active-tab-container {
    display: flex;
    justify-content: center;
}

.active-tab {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.active-tab.image {
    flex-direction: column;
    align-items: center;
}

.active-tab input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.upload-label {
    cursor: pointer;
    padding: 8px;
    background-color: #2F3E6A;
    color: #fff;
    border: red;
    display: inline-block;
    margin-right: 10px;
}

.active-tab input[type="submit"] {
    padding: 8px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}