/* To clean and improve */

.about-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem; 
  padding-bottom: 4rem;
  width: 100%;
}

.about-content h2 {
  margin-top: 4rem;
  /* font-size: 1.5rem; */
  margin-bottom: 4rem;
}

/* .text-container{
  width: 100%;
} */

.main-text {
   width: 80%; 
  /* max-width: 1200px; */
  background-color: #f1f5f9;
  padding: 5rem;
}

.main-text p {
  margin-bottom: 2rem;
  line-height: 1.5;
}

.list-with-example {
  display: flex;
  /* gap: 5rem; */
  margin: 4rem 0 4rem 0;
}

.list-content {
   flex: 1; 
   /* padding: 0 2rem; */
}

.list-content ul {
  list-style: none;
  /* margin: 2rem 0 2rem 0; */
  padding: 1rem 2rem;
}

.list-content li {
  margin-bottom: 1rem;
  line-height: 1.5;
  position: relative;
  padding-left: 2rem; 
  padding-bottom: 2.5rem;
}

.list-content li::before {
  content: "•";
  position: absolute;
  left: 0;
}

.main-text a {
  color: #2f3e6a;
  /* text-decoration: none; */
}

.main-text a:hover {
  color: #1c2641;
  /* text-decoration: underline; */
}

.example-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 2rem 1rem;
  height: fit-content;
  border-radius: 2rem;
  /* outline: 1px solid #2f3e6a; */
  /* margin-left: 1rem; */
}

.example-section .image-card {
  border: 1px solid #cbd5e1;
  border-radius: 0.1em;
  display: grid;
  grid-template-rows: auto auto auto;
  width: 100%;
  max-width: 350px;
  gap: 1em;
  margin-top: 1rem;
  padding-bottom: 1em;
  transition: all 0.2s ease-in-out;
}

.example-section .image-card:hover{
    /* border: 1px solid #94a3b8; */
    border: 1px solid #2f3e6a;
    /* background-color: #e2e8f0; darker grey on hover */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.example-section .image-container {
  grid-row: 1;
  background-color: #f1f5f9;
  border-radius: 0.1em 0.1em 0 0;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.example-section  .image-card:hover .image-container {
  background-color: #e2e8f0;
}

.example-section .card-image {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.example-section .title-wrapper {
  height: 3.6em;
  line-height: 1.8em;
  overflow: hidden;
  margin: 0 auto;
  /* padding: 0 0.7em 0 0.7em; */
}

.example-caption {
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: left;
  font-size: 1rem;
  line-height: 1.4; 
}

.notice {
  background-color: white;
  border: 1px solid #8f243e ;
  padding: 1.5rem;
  margin: 4rem 0;
  border-radius: 2rem;
}

.notice h3 {
  color: #8f243e;
  margin-bottom: 1rem;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5rem;
}

.links a {
  color: #2f3e6a;
  text-decoration: none;
  font-weight: 700;
}

.links a:hover {
  color: #1c2641;
  text-decoration: underline;
}
