header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--semantic-color-text-primary);
  color: var(--semantic-color-background-base);
  padding: var(--semantic-distance-double-large) 0;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.header-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-svg {
  height: var(--component-logo-brand-height); /* 3rem = 48px */
  width: auto; 
  color: var(--semantic-color-text-inverse-heavy);
  transition: color 0.2s;
  display: block;
}

.logo-link:hover .logo-svg {
  color: var(--semantic-color-accent-strong); 
}

.header-nav {
  display: flex;
  gap: var(--semantic-distance-double-large);
  align-items: center;
}

.header-nav-item {
  color: var(--semantic-color-text-inverse-heavy);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
}

.header-nav-item:hover:not(.header-nav-item-current) {
  color: var(--semantic-color-accent-strong); /* Lavandel 30 */
  text-decoration: none;
}

.header-nav-item:visited,
.header-nav-item:active {
  color: var(--semantic-color-text-inverse-heavy);
}

.header-nav-item-current {
  text-decoration: underline;
  cursor: default;
}

.header-nav-item:focus-visible,
.logo-link:focus-visible {
    outline-width: var(--component-focus-visible-outline-width);
    outline-style: solid;
    outline-color: var(--semantic-color-accent-strong);
    outline-offset: var(--component-focus-visible-shadow-spread);
}

@media (max-width: 36rem) {
  .logo-svg {
    height: var(--semantic-size-triple-large); /* 2rem = 32px instead of 48px */
  }
}

