.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    border-radius: 8px;
    width: 90%;
    max-width: 800px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .modal-title {
    padding: 2rem 2rem 1.5rem; 
    text-align: center; 
    /* font-size: 2.5rem; */
  }
  
  .modal-title h2 {
    margin: 0;
    font-size: 1rem; 
    color: black;
  }
  
  .divider {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
  }
  
  .modal-body-container {
    padding: 2rem;
  }
  
  .modal-body {
    background-color: #f1f5f9;
    padding: 2rem;
    border-radius: 4px;
  }
  
  .close-button {
    position: absolute; 
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #2f3e6a;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: color 0.2s;
  }
  
  .close-button:hover {
    color: #1c2641;
  }

  .help-content {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .help-content ol {
    padding-left: 1.5rem;
    margin: 0;
  }
  
  .help-content li {
    margin-bottom: 1.5rem;
  }
  
  .help-content li:last-child {
    margin-bottom: 0;
  }