.interrupted-line {
    display: flex;
    align-items: center; 
    width: 100%; 
}

.interrupted-line::before,
.interrupted-line::after {
    content: ""; 
    flex: 1 0 0;
    height: 1px;
    background-color: var(--semantic-color-stroke-base); /* #BCC0CA */
    margin: 0 var(--semantic-distance-compact);  
}