.intro-text {
    width: 80%;
    margin-bottom: var(--semantic-distance-giga);   
}

 @media (max-width: 48rem) {
    .intro-text {
        width: 90%;
    }
 }

@media (max-width: 36rem) {
    .intro-text {
        width: 90%;
    }
}

.intro-text h1 {
    text-align: center;
    margin-top: var(--semantic-distance-giga);
    margin-bottom: var(--semantic-distance-giga);
}

@media (max-width: 36rem) {
    .intro-text h1 {
        margin-top: var(--semantic-distance-large);
        margin-bottom: var(--semantic-distance-triple-large);
    }
}

.intro-text a {
    font-weight: var(--semantic-font-weight-semi-bold);
}

.highlighted-note{
    padding: var(--semantic-distance-large) var(--semantic-distance-extra-large);
    background-color: var(--semantic-color-background-subtle);
    color: var(--semantic-color-text-heavy);
    border-left: 4px solid var(--semantic-color-stroke-strong);
    border-radius: var(--semantic-distance-extra-small);    
}

@media (max-width: 36rem) {
    .highlighted-note{
        padding: var(--semantic-distance-medium) var(--semantic-distance-large);
    }
}