.intro-text {
    width: 80%;
    min-height: 30%;
    margin-bottom: 3rem;
    /* margin-top: 5rem; */
    /* min-height: 500px; */

    @media (max-width: 769px) {
        width: 90%;
        /* margin-bottom: 1rem; */
    }

    @media (max-width: 469px) {
        width: 90%;
        /* margin-bottom: 2rem; */
    }
}

.intro-text h2 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media (max-width: 469px) {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}