.minimized-search-bar {
    position: fixed;
    top: 5rem; /* leave space for the existing header */
    left: 0;
    width: 100%;
    background-color: #F0F0F3;
    border-top: 1px solid #EC6726;
    border-bottom: 1px solid #D6D8DF;/* SPK Grau 30*/
    z-index: 5; /* same as header */
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  }

  .min-content-container{
    width: 80%; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0; /* some vertical padding */
  }
  
  .search-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1rem;
    gap: clamp(0.5rem, 1vw, 0.75rem);
    font-size: clamp(0.9rem, 2vw, 1rem);
    margin: 0;
  }

  .search-thumbnail {
    height: clamp(2.5rem, 5vw, 3.5rem); /* Min 40px, Max 56px (at 16px base font) */
    width: clamp(2.5rem, 5vw, 3.5rem); 
    /* object-fit: cover; */
    object-fit: contain;
    border: 1px solid #D6D8DF; /* SPK Grau 30*/
    background-color: #FFFFFF;
    /* border-radius: 2px; */
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .search-thumbnail:hover {
    transform: scale(1.05);
    border-color: #000000;
  }

  canvas.search-thumbnail {
    display: block;
  }
  
  .search-actions {
    display: flex;
    gap: 1rem;
    margin: 0;
  }
  
  .back-to-top-button {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #2B4474; /* SPK-Blau 100 */
    color: white;
    font-size: 0.95rem;
  }
  
  .back-to-top-button:hover {
    background-color: #182645; /* SPK-Blau 150 */
  }

  .thumbnail-preview {
    position: fixed;
    top: calc(6rem + 4rem); /* just below the bar */
    left: 10%; 
    left: calc((100% - 80%) / 2);
    max-width: 25rem;
    background: rgba(255, 255, 255, 0.90);
    border: 1px solid #B5B9C4;
    box-shadow: 0 0.375rem 1rem rgba(0, 0, 0, 0.6);
    padding: 2rem;
    z-index: 10;
    border-radius: 0.1em;
  }
  
  .preview-image-container {
    position: relative; 
    overflow: hidden;
  }
  
  .preview-image {
    max-width: 100%;
    display: block;
  }
  
  .preview-crop-indicator {
    position: absolute;
    border: 2px solid #2B4474;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  
  .close-preview {
    position: absolute;
    top: -16px;
    right: -16px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #2B4474;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
  }

  .close-preview:hover{
    background-color: #182645;
  }
