.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--semantic-distance-large);
    width: 80%;
    height: auto;
    margin-top: 0; 
    margin-bottom: var(--semantic-distance-mega);  
}

@media (max-width: 62rem) { /* --semantic-breakpoint-tablet-landscape */
.image-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 36rem) { /* --semantic-breakpoint-mobile-landscape */
  .image-grid {
    grid-template-columns: 1fr;
  }
}
 
.browse-search {
  width: 80%;
  margin: 0 auto var(--semantic-distance-compact) auto;
  font-weight: var(--semantic-font-weight-bold);
  font-size: var(--semantic-font-size-text); /* Necessary because it's an h2, this is to make it smaller*/
}
  
