/* Maybe make the card a separate component */

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    width: 80%;
    height: auto;
    margin-top: 5em;
  }
  
  .image-card {
    border: 1px solid #cbd5e1;
    border-radius: 0.1em;
  
    /* display: flex;
    padding-bottom: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  
    display: grid;
    grid-template-rows: auto auto auto; 
    width: 100%;
    max-width: 450px;
  
    gap: 1em;
    /* width: 100%; */
    /* max-width: 350px;  */
  
    padding-bottom: 1em;
    transition: all 0.2s ease-in-out;

    /* margin: 0 auto; */
  
    /* padding: 15px;
    text-align: center; */
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15); */
  }
  
  .image-card:hover {
    /* border: 1px solid #94a3b8; */
    border: 1px solid #2f3e6a;
    /* background-color: #e2e8f0; */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .image-container {
    grid-row: 1;
    /* background-color: aqua; */
    background-color: #f1f5f9;
    border-radius: 0.1em 0.1em 0 0;
    /* width: 100%;  */
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    /*  overflow: hidden;*/
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  
  .image-card:hover .image-container {
    background-color: #e2e8f0;
  }
  
  .image-container .card-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
  
  .title-wrapper {
    grid-row: 2; 
    height: 3.6em;
    line-height: 1.8em;
    overflow: hidden; /* prevent the title from pushing the button down*/
    margin: 0 auto;
    padding: 0 0.7em 0 0.7em;
    /* text-align: center; */
  }
  
  /* .image-card a {
    display: block; 
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } */

  .browse-search {
    width: 80%;
    margin: 0 auto 0.5rem auto;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .image-grid {
    margin-top: 0; 
    margin-bottom: 3rem;  
  }
  