.search-button { 
    width: 80%;
    background-color: var(--semantic-color-interactive-strong); /* #182645 */
    color: var(--semantic-color-background-base); /* #FFFFFF */
    text-align: center; 
    padding: var(--semantic-distance-large) var(--semantic-distance-triple-large); /* 1rem 2rem */
    border: none; 
    border-radius: var(--semantic-distance-compact); /* 0.5rem */
    cursor: pointer; 
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}
    
.search-button:hover { 
    background-color: var(--semantic-color-interactive-heavy); /* #091128 */
}

.search-button:active {
    background-color: var(--semantic-color-interactive-heavy); 
    /* transform: scale(0.98);  */
}

.search-button:focus-visible {
    outline-width: var(--component-focus-visible-outline-width); /* 0.25rem */
    outline-style: solid;
    outline-color: var(--semantic-color-interactive-base); /* #2B4474 */
    outline-offset: var(--component-focus-visible-shadow-spread); /* 0.375rem */
}