/* To clean up and improve */

.search-results-page {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .search-results-page h2 {
    margin-top: 4rem; 
    margin-bottom: 4rem;
  }

.query {
  width: 100%;
}

/* .query h3 {
  width: 80%;
} */

/* .browse-search {
  width: 80%;
  margin: 0 auto 0.5rem auto;
} */
  
  .query-image-container {
    background-color: #f1f5f9; 
    border-top: 1px solid #8f243e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: auto;
    width: 100%;
    /* height: 100%; */
    /* margin: 20px 0; */
    margin-bottom: 4rem;
  }
  
  .query-image-container h3 {
    /* margin-bottom: 10px; */
  }
  
  .query-image {
    max-width: 5vw;
    height: 5vh;
    /* max-width: 50%;
    max-height: 50%; */
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .search-results-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    width: 100%;
    height: auto;
    margin: 0 auto;  
  }

  .search-results-container {
    width: 80%;
    /* max-width: 1240px;  */
    margin: 0 auto;
    height: auto;
  }


  .result-card {
    border: 1px solid #cbd5e1;
    border-radius: 0.1em;
    display: grid;
    grid-template-rows: auto auto auto;
    width: 100%;
    max-width: 450px;
    gap: 1em;
    padding-bottom: 1em;
    transition: all 0.2s ease-in-out;

  }
  
  .result-card .image-container {
    grid-row: 1;
    background-color: #f1f5f9;
    border-radius: 0.1em 0.1em 0 0;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  .card-image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
  
  .result-card .view-link {
    padding: 0.5em 0.5em;
    color: #2f3e6a;
    margin: auto;
    /* text-decoration: none; */
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .result-card:hover {
    /* border: 1px solid #94a3b8; */
    border: 1px solid #2f3e6a;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .result-card:hover .image-container {
    background-color: #e2e8f0;
  }
  

  
  .search-results-page h2 {
    /* Style for "Your search results" title */
  }
  
  .search-results-container {
    /* margin-top: 20px; */
    /* margin-top: 1em; */
  }

   .results-heading {
    /* width: 80%; */
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1rem;
  } 
  
  .user-search-image {
    background-color: grey;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .user-search-image h3 {
    margin-bottom: 10px;
  }
  
  .user-search-image img {
    max-width: 100%;
  }
  
  .search-text {
    margin-bottom: 20px;
  }
  
  .results-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .result-item img {
    width: 100%;
    height: auto;
  }
  
  .result-item button {
    margin-top: 10px;
  }

/* Cropper styles */

.cropper-modal {
  background-color: transparent !important;
}
  
 .cropper-container {
  width: 100% !important;
} 

.cropper-view-box,
.cropper-face {
  border-radius: 0;
}

.cropper-view-box {
  outline: 2px solid #39f;
  outline-color: rgba(51, 153, 255, 0.75);
}

.cropper-line {
  background-color: #39f;
}

.cropper-point {
  background-color: #39f;
  opacity: 0.75;
}
  