.share-button {
  background-color: var(--semantic-color-background-olive-base);
  color: var(--semantic-color-background-base);
  padding: var(--semantic-distance-medium) var(--semantic-distance-large);
  border: none;
  border-radius: var(--semantic-distance-extra-small);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  /* min-width: 9rem; */
}

@media (max-width: 48rem) {
  .share-button {
    padding: var(--semantic-distance-compact) var(--semantic-distance-large);
    font-size: var(--semantic-font-size-label); /* 0.875rem */
  }
}

.share-button:hover {
  background-color: var(--semantic-color-background-olive-strong); 
}

.share-button:active {
  background-color: var(--semantic-color-background-olive-heavy);
  /* transform: scale(0.98); */
}

.share-button:focus-visible {
  outline-width: var(--component-focus-visible-outline-width);
  outline-style: solid;
  outline-color: var(--semantic-color-background-olive-base);
  outline-offset: var(--component-focus-visible-shadow-spread);
}

.share-button.success {
  background-color: var(--semantic-color-background-base); 
  outline: var(--semantic-size-ultra-small) solid var(--semantic-color-background-olive-strong); 
  color: var(--semantic-color-background-olive-strong); 
}

.share-button.error {
  background-color: var(--semantic-color-background-base);
  outline: var(--semantic-size-ultra-small) solid var(--semantic-color-feedback-danger-base);
  color: var(--semantic-color-feedback-danger-base);
  border-color: var(--semantic-color-feedback-danger-base);
}

/* in the minimized search bar, more compact */
.search-actions .share-button {
  min-width: auto;
  padding: var(--semantic-distance-compact) var(--semantic-distance-large);
  margin: 0;
}

@media (max-width: 48rem) {
  .search-actions .share-button {
    padding: var(--semantic-distance-ultra-small) var(--semantic-distance-compact);
    font-size: var(--semantic-font-size-caption); /* 0.75rem */
  }
}

