@import url("https://cdn.jsdelivr.net/gh/StabiBerlin/design-tokens@v1.1.0/tokens.css");

.share-button {
  /* background-color: var(--semantic-color-background-base, #FFFFFF); */
  background-color: var(--semantic-color-background-olive-base, #696c22);
  /* color: var(--semantic-color-interactive-base, #2B4474); */
  color: var(--semantic-color-background-base, #FFFFFF);
  /* border: 2px solid var(--semantic-color-interactive-base, #2B4474); */
  padding: var(--semantic-distance-medium, 0.75rem) var(--semantic-distance-large, 1rem);
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: var(--semantic-font-size-text, 1rem);
  transition: all 0.2s ease-in-out;
  min-width: 140px;
  text-align: center;
}

.share-button:hover {
  /* background-color: var(--semantic-color-background-subtle, #F0F0F3); */
  background-color: #474819;
  /* color: var(--semantic-color-interactive-strong, #182645); */
  color: var(--semantic-color-background-base, #FFFFFF);
  /* border-color: var(--semantic-color-interactive-strong, #182645); */
}

.share-button:active {
  /* background-color: var(--semantic-color-stroke-subtle, #D6D8DF); */
  background-color: #242114;
  /* color: var(--semantic-color-interactive-heavy, #091128); */
  color: var(--semantic-color-background-base, #FFFFFF);
  /* border-color: var(--semantic-color-interactive-heavy, #091128); */
}

.share-button.success {
  background-color: var(--semantic-color-background-base, #FFFFFF);
  outline: 2px solid var(--semantic-color-feedback-sucess-base, #2E8540);
  color: var(--semantic-color-feedback-sucess-base, #2E8540);
  border-color: var(--semantic-color-feedback-sucess-base, #2E8540);
}

.share-button.error {
  background-color: var(--semantic-color-background-base, #FFFFFF);
  outline: 2px solid var(--semantic-color-feedback-danger-base, #D20A11);
  color: var(--semantic-color-feedback-danger-base, #D20A11);
  border-color: var(--semantic-color-feedback-danger-base, #D20A11);
}

/* in the minimized search bar, more compact */
.search-actions .share-button {
  min-width: auto;
  padding: var(--semantic-distance-compact, 0.5rem) var(--semantic-distance-large, 1rem);
  margin: 0;
}

